<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TODO LIST</h1>
    <div class="new_task">
        <h2>Create a Task</h2>
    <input class="new_tasks" placeholder="add a task" type="text">
    <input class="new_prio" placeholder="priority: high, med, low" type="text">
    <button class="create_btn">SUBMIT</button>
    </div>
    <div class="update_task">
        <h2>Update a Task</h2>
    <input class="update_id" placeholder="task number" type="text">
    <input class="update_tasks" placeholder="update a task" type="text">
    <input class="update_prio" placeholder="priority: high, med, low" type="text">
    <button class="update_btn" >SUBMIT</button>
    </div>
    <div class="remove_task">
        <h2>Delete a Task</h2>
    <input class="delete_id" placeholder="task number" type="text">
    <button class="delete_btn">SUBMIT</button>
    </div>
    <div class="read_task">
        <h2>Read Task List</h2>
    <button class="read_subBtn">SUBMIT</button>
    </div>
</body>
<script src="./toDo.js"></script>
</html>