<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TODO LIST</h1>
    <div class="new_task">
        <h2>Create a Task</h2>
    <input placeholder="add a task" type="text">
    <button>SUBMIT</button>
    </div>
    <div class="update_task">
        <h2>Update a Task</h2>
    <input placeholder="task number" type="text">
    <input placeholder="update a task" type="text">
    <button>SUBMIT</button>
    </div>
    <div class="remove_task">
        <h2>Delete a Task</h2>
    <input placeholder="task number" type="text">
    <button>SUBMIT</button>
    </div>
    <div class="remove_task">
        <h2>Read Task List</h2>
    <button class="subBtn">SUBMIT</button>
    </div>
</body>
<script src="./toDo.js"></script>
</html>