h3 {
    color: #774c60;
    
}
body {
    font-family: 'Rampart One';
    background-color:  #e3dcdf;
    background-image: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar {
    overflow: hidden;
    /* background-color: #5c4d7d; */
    border-radius: 5px;
    border-bottom: double whitesmoke;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#723c70;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .container{
      display: grid;
      grid-template: repeat(5,200px)/repeat(5,300px);
      gap: 1rem;
      display: flexbox;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      
     
     /* gradient features for Boozy Logo */
  }
  .h2-contain{
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      justify-content: center;
      color:white;
      font-family: 'Rampart One';
      font-size: 40px;
      background: -webkit-linear-gradient(#ac46a1, #ff0a54);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
    }
  .box1{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    /* border: solid black; */
    
    
   
  }
  .box2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    /* border: solid black; */
    
  }
  .box3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    /* border: solid black; */
  }
  .bottomCon{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 5;
    border-top: double whitesmoke;
    font-family: 'Rampart One';
    font-size: 20px;
    font-weight: bolder;
    color: #774c60;
    
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  /* Mobile responsiveness CSS */

  @media screen and (max-width:1029px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* display: grid;
        grid-template: repeat(3,200px)/repeat(3,300px); */
        gap: 1rem;
  }
    .bottomCon{
      
        border-top: double whitesmoke;
        font-family: 'Rampart One';
        font-size: 20px;
        font-weight: bolder;
        color: #774c60;
        background-color: seashell;
}
  }
  @media screen and (max-width:479px){
    .container{
        display: grid;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .bottomCon{
      
        border-top: double whitesmoke;
        font-family: 'Rampart One';
        font-size: 20px;
        font-weight: bolder;
        color: #774c60;
        background-color: seashell;
    }
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  }