.tictac
{
	display: grid;
	grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    background-color: black;
    color:white;

}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}