.mainContain {
   
    

}





.movieDeck {
    
    justify-content: space-between;
    align-content:space-between;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(4, 200px);
    
    

}


.searchButton {
    width: 100px;
}
.inputField {
    width: 100px;
}