html, body {
   background-color: lightgrey;

}
h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    border-style: inset;
}
p {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    border-style: ridge;
    
}