h1 {
    color: pink;
    text-align: center;
}
.mainContain {
    display: flex;
    padding: 100px;
    justify-content: center;
    justify-items: center;
    

}
body{
    background-image: url(https://images.unsplash.com/photo-1555588746-13edde80e4a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80);
    
}