body {
    background-color: lightcyan;
}


.mainlayout {
    
    display: flex;
    flex-wrap: wrap;
    height: 464px;
   
    
}

.header, .footer {
    font-size: smaller;
    background-color: #007cb9;
    height: 150px;
    width: 100%;
    font-family: 'Amatic SC';
    border-radius: 3px;
    margin: 3px;
    text-align: center;
    
}
    

.content {
    font-size: larger;
    background-color: #005689;
    width: 75%;
    margin: 2px;
    padding: 15px;
    border-radius: 3px;
    
   
}
.ads, .sidebar{
    font-size: larger;
    background-color: #ff895d;
   
    height: 900px;
    width: 20%;
    padding: 7px;
    border-radius: 3px;
    
   
}

    
