body {
    background-color: lightcyan;
    background-image: url(https://images.unsplash.com/photo-1574684891174-df6b02ab38d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
}


.mainlayout {
    
    display: flex;
    flex-wrap: wrap;
    height: 464px;
   
    
}

.header, .footer {
    font-size: smaller;

    height: 150px;
    width: 100%;
    font-family: 'Amatic SC';
    border-radius: 3px;
    margin: 3px;
    
    
}
    

.content {
    font-size: larger;
    border: papayawhip;
    border-style: ridge;
    width: 75%;
    margin: 2px;
    padding: 15px;
    border-radius: 3px;
    font-family: 'Lobster Two', cursive;
    
   
}
.ads, .sidebar{
    font-size: larger;
    border: papayawhip;
    border-style: ridge;
    height: 900px;
    width: 20%;
    padding: 7px;
    border-radius: 3px;
    font-family: 'Lobster Two', cursive;
    font-weight: bolder;
    text-align: center;
    
}
.topnav {
   
    overflow: hidden;
    border-radius: 3px;
    border-style: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .topnav a.active {
    
    color: papayawhip;
  }
.myface {
  
}

    
